<!DOCTYPE html>
<html>
<head>
    <title>Diabetes Prediction</title>
    <link href="{{ url_for('static', path='/home.css') }}" rel="stylesheet">
</head>
<body>
<div class="prediction-container">
    <h1 class="prediction-title">Diabetes Prediction</h1>
    <form action="/home" method="post">
        <div>
            <label class="prediction-label" for="model_id">Select Model:</label>
            <select class="prediction-select" id="model_id" name="model_id">
                <option value="1">Model 1</option>
                <option value="2">Model 2</option>
            </select>
        </div>
        <div>
            <label class="prediction-label" for="age_group">Age Group:</label>
            <select class="prediction-select" id="age_group" name="age_group">
                <option value="1">Adult</option>
                <option value="2">Senior</option>
            </select>
        </div>
        <div>
            <label class="prediction-label" for="RIDAGEYR">Actual Age:</label>
            <input class="prediction-input" type="number" id="RIDAGEYR" name="RIDAGEYR" min="0" max="120" value="30">
        </div>
        <div>
            <label class="prediction-label" for="RIAGENDR">Gender:</label>
            <select class="prediction-select" id="RIAGENDR" name="RIAGENDR">
                <option value="1">Male</option>
                <option value="2">Female</option>
            </select>
        </div>
        <div>
            <label class="prediction-label" for="PAQ605">Physical Activity:</label>
            <select class="prediction-select" id="PAQ605" name="PAQ605">
                <option value="1">Yes</option>
                <option value="2">No</option>
            </select>
        </div>
        <div>
            <label class="prediction-label" for="BMXBMI">BMI:</label>
            <input class="prediction-input" type="number" id="BMXBMI" name="BMXBMI" step="any" min="0" value="36">
        </div>
        <div>
            <label class="prediction-label" for="LBXGLU">Glucose Level:</label>
            <input class="prediction-input" type="number" id="LBXGLU" name="LBXGLU" step="any" min="0" value="110">
        </div>
        <div>
            <label class="prediction-label" for="LBXGLT">Glucose Tolerance Test:</label>
            <input class="prediction-input" type="number" id="LBXGLT" name="LBXGLT" step="any" min="0" value="150">
        </div>
        <div>
            <label class="prediction-label" for="LBXIN">Insulin Level:</label>
            <input class="prediction-input" type="number" id="LBXIN" name="LBXIN" step="any" min="0" value="15">
        </div>
        <div>
            <input class="prediction-input prediction-button" type="submit" value="Predict Diabetes">
        </div>
    </form>
    <div class="balance-info">Your Current Balance: {{ balance }}</div>
    {% if prediction %}
    <h2>Prediction: {{ prediction }}</h2>
    {% endif %}
</div>
</body>
</html>
